
.body {
    font-family: 'Heebo', sans-serif;
}
/*header */

.inline-block {
    display:inline-block;
    vertical-align:middle;
    font-family: 'Montserrat', sans-serif;
    font-size:130%;
    padding-right:3%;
    text-align:right;
}

.logo {
    width:50%;
    padding-left:20%;
    padding-bottom:1%;
    float:left;
    margin-left:20%;
}

nav {
    width:73%;
    padding:1%
}

ul {
    width:50%;
    margin-left:auto;
}

/*hero section  */

.heroImg {
    height: 600px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 20%;
    background-color: #CEEEEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 500%;
    text-align: left;
}

h1 {
    font-weight: normal;
    margin-bottom: 2%;
}

.right {
    float:right;
    padding-left:15px;
    margin-right: 10%;
}

button.download {
    background-color: #F5A7A6;
    border-color: #F5A7A6;
    color: black;
    float:left;
    font-family: 'Heebo', sans-serif;
    font-weight:300px;
    font-size:40%;
    border-radius: 60px;
    padding:15px;
    margin-top: 5%;
}

.download:hover {
    background-color: #F8EAEB;
    color: black;
    border-color: #F8EAEB;
    border-radius: 60px;
    box-shadow: 5px 5px rgb(245,167,166,0.7);
  }
  

/*WORK SECTION*/

h2 {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left:10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size:300%;
}

h3 {
    font-weight: 400;
    font-family: 'Heebo', sans-serif;  
}

.parentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexChild {
    display:flex-row;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size:220%;
    vertical-align:top;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 3%;
}

/*SKILL SECTION*/
.skillsSection {
    width: 100%;
}
.skillsButtons {
    text-align: center;
}

button.longButton {
    background-color: #F8E7E8;
    border-color: #F8E7E8;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight:300px;
    font-size:180%;
    border-radius: 10px;
    padding:15px;
    margin: 2%;
    width: 350px;
}

button.gridArea {
    background-color: #F8E7E8;
    border-color: #F8E7E8;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight:300px;
    font-size:100%;
    border-radius: 1000px;
    padding:15px;
    margin: 20%;
    margin-top: 20%;
    width: 130px;
    height: 130px;
}

.containerGrid {
    margin: 0px 10%;
    margin-bottom: 10%;
    display: grid;
    justify-content: center;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "reliable miro illustrator helpful french organized"
    "efficient creative english spanish figma trello"
    ;
}



/*footer section */

footer {
    background-color: #CEEEEA;
    height:80px;
    margin-top: 5%;
    padding-top: 1%;
}